:root {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #23252C;
  color: #fff;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 247px;
  margin: 0 auto;
}